/* Error: Undefined operation "97 % 0".
 *    ,
 * 64 |       clip-path: inset(#{$top}% 0 #{$bottom}% 0);
 *    |                        ^^^^^^^^^^
 *    '
 *   scss/404.scss 64:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "97 % 0".\a    \2577 \a 64 \2502        clip-path: inset(#{$top}% 0 #{$bottom}% 0);\a    \2502                         ^^^^^^^^^^\a    \2575 \a   scss/404.scss 64:24  root stylesheet';
}
