.about-container {
  width: 90%;
  margin: 0 5%;
}
.about-container .about-header {
  display: flex;
  padding: 80px 10% 50px 10%;
}
.about-container .about-header .left-image {
  width: 60%;
}
.about-container .about-header .left-image h5 {
  color: #f47a50;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 80px;
}
.about-container .about-header .left-image h2 {
  font-family: "Playfair Display", Sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: 0.3px;
  padding-bottom: 50px;
}
.about-container .about-header .left-image .breakline {
  width: 30%;
  height: 5px;
  background-color: #f47a50;
  margin: 1rem 1rem 2rem 0;
}
.about-container .about-header .left-image .contact-team {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  color: #f47a50;
}
.about-container .about-header .left-image .contact-team ion-icon {
  margin-right: 2rem;
}
.about-container .about-header .about-image {
  width: 40%;
  margin-top: 3.5rem;
}
.about-container .about {
  display: flex;
  margin: 5% 0;
  flex-direction: column;
  align-items: center;
}
.about-container .about .about-heading-title h5 {
  color: #8ec7c0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.about-container .about .about-heading-title h2 {
  font-family: "Playfair Display", Sans-serif;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 6rem;
  margin-bottom: 2.5rem;
  color: #f47a50;
}
.about-container .about .about-heading-title .short-des {
  margin: 0 15%;
  padding: 1rem 0 1rem 0;
  color: rgba(18, 18, 18, 0.67);
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1px;
}
.about-container .about .about-team {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin: 5% 5% 0 5%;
  padding: 0 5%;
}
.about-container .about .about-team .team-member {
  height: 550px;
  width: 100%;
  padding: 0 5%;
}
.about-container .about .about-team .team-member .team-wrap {
  width: 100%;
  height: 80%;
}
.about-container .about .about-team .team-member .team-wrap .bg-image {
  height: 90%;
  width: 100%;
  min-height: 450px;
  display: flex;
}
.about-container .about .about-team .team-member .team-wrap .about-left {
  width: 100%;
  height: 100%;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body {
  width: 100%;
  height: 100%;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body-top {
  width: 100%;
  height: 70%;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body {
  height: 35%;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .style {
  margin: 10% 0 10% 0;
  width: 30px;
  height: 5px;
  background-color: green;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .about-info {
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .about-info .name {
  height: 50%;
  margin-bottom: 1rem;
  display: flex;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .about-info .name h2 {
  font-size: 2rem;
  font-weight: bold;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .about-info .role {
  height: 50%;
}
.about-container .about .about-team .team-member .team-wrap .about-left .about-body .body .about-info .role h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.about-container .about .about-team .team-member .team-wrap .about-right {
  width: 20%;
  height: 100%;
}
.about-container .about .about-team .team-member:hover {
  transform: scale(1.1);
  opacity: 70%;
}

@media only screen and (max-width: 960px) {
  .about-container .about-header .left-image {
    width: 100%;
  }
  .about-container .about-header .left-image h2 {
    font-size: 50px;
  }
  .about-container .about-header .about-image {
    display: none;
  }
  .about-container .about .about-team {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=aboutus.css.map */
