.category-modal {
  margin: 2rem 5% 5rem 5%;
  width: 90%;
  height: 50%;
  display: flex;
  align-items: stretch;
}

.event-container .title {
  display: none;
}
.event-container .event-content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.event-container .event-content .event-card {
  width: 32%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.event-container .event-content .event-card img {
  min-height: 250px;
  object-fit: cover;
  max-width: 100%;
}
.event-container .event-content .event-card .event-desc {
  box-sizing: border-box;
  padding: 1rem 1rem;
}
.event-container .event-content .event-card .event-desc h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.event-container .event-content .event-card .event-desc p {
  font-size: 14px;
}
.event-container .event-content .event-card .event-desc ion-icon {
  margin-right: 5px;
}
.event-container .event-content .event-card .event-desc .event-location {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 300;
}
.event-container .event-content .event-card .event-desc .event-bottom {
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-container .event-content .event-card .event-desc .event-bottom .event-date {
  display: flex;
  font-weight: 300;
}
.event-container .event-content .event-card .event-desc .event-bottom .category-list {
  display: flex;
}
.event-container .event-content .event-card .event-desc .event-bottom .category-list .event-category {
  margin-left: 5px;
  padding: 0.3rem 1rem;
  font-size: 12px;
  color: white;
  background: #f47a50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=allevent.css.map */
