.category-selector {
  margin-top: 1rem;
}
.category-selector .categories {
  margin-top: 1.5rem;
}
.category-selector .categories .category-item {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.category-selector .categories .category-item:hover .category-title {
  color: #f47a50;
}

/*# sourceMappingURL=category-selector.css.map */
