.loadingBanner {
  margin: 2rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cd-banner {
  width: 90%;
  margin: 2rem 5% 4rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(to right, #ebbd7e, #f47a50);
  display: flex;
  color: white;
  box-sizing: border-box;
}
.cd-banner .info {
  flex: 2;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cd-banner .info .event-title {
  margin: 2rem 0;
}
.cd-banner .info .event-title h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.cd-banner .details-count {
  flex: 3;
  display: flex;
}
.cd-banner .details-count .event-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cd-banner .details-count .event-details p {
  padding: 0;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
}
.cd-banner .details-count .countdown {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cd-banner .details-count .countdown .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cd-banner .details-count .countdown .circle h4 {
  font-size: 3rem;
  font-weight: 300;
}
.cd-banner .details-count .countdown .circle h5 {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .cd-banner {
    display: flex;
    flex-direction: column;
  }
  .cd-banner .info {
    text-align: center;
    margin-bottom: 1rem;
  }
  .cd-banner .details-count {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  .cd-banner .details-count .event-details {
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cd-banner .details-count .countdown {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .cd-banner .details-count .countdown .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .cd-banner .details-count .countdown .circle h4 {
    font-size: 3rem;
    font-weight: 300;
  }
  .cd-banner .details-count .countdown .circle h5 {
    font-size: 1rem;
    font-weight: 300;
  }
}

/*# sourceMappingURL=cd_banner.css.map */
