.sort-dropdown {
  margin-top: 1.5rem;
  cursor: pointer;
}
.sort-dropdown .dropdown {
  width: 100%;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #8a8a8a;
}
.sort-dropdown .dropdown .dropdown-btn {
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  background: none;
  border: none;
  outline: none;
  font-size: 0.9rem;
}
.sort-dropdown .dropdown ion-icon {
  font-size: 0.8rem;
}
.sort-dropdown ul {
  border: 1px solid #8a8a8a;
  max-height: 0;
  overflow: hidden;
  border-top: none;
  list-style: none;
  transition: all 0.2s ease;
}
.sort-dropdown ul li {
  padding: 1rem;
  background: white;
  color: #8a8a8a;
  font-size: 0.8rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.sort-dropdown ul li:hover {
  color: #f47a50;
}

/*# sourceMappingURL=dropdown-sort.css.map */
