footer {
  height: 45vh;
  padding: 0 6em;
  background-color: #f47a50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  footer .footer-container {
    padding: 0 2rem;
    height: 60vh;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-container {
    padding: 2rem;
    height: 130vh;
    flex-direction: column;
  }
}
footer .footer-container .desc {
  padding: 0;
}
footer .footer-container .desc img {
  width: 150px;
}
footer .footer-container .desc p {
  margin-top: 1.2rem;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.5;
}
footer .footer-container h4 {
  margin-top: 0.8rem;
}
footer .footer-container .desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
footer .footer-container .links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: white;
}
footer .footer-container .links .links-row {
  margin-top: 2rem;
  display: flex;
}
footer .footer-container .links .links-row ul {
  padding: 0;
}
footer .footer-container .links .links-row ul li {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
footer .footer-container .links .links-row ul li ion-icon {
  color: white;
}
footer .footer-container .links .links-row ul li a {
  font-size: 1rem;
  padding-left: 5px;
  color: white;
  text-decoration: none;
}
footer .footer-container .links .links-row ul li a:hover {
  color: #e4e4e4;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .links {
    padding: 0 2rem;
    align-items: start;
  }
}
footer .contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  color: white;
}
footer .contact .contact-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
footer .contact a {
  text-decoration: none;
  color: white;
}
footer .contact .call {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
footer .contact .call ion-icon {
  font-size: 1.25rem;
  margin-right: 1rem;
}
footer .contact .mail {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
footer .contact .mail ion-icon {
  font-size: 1.25rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 768px) {
  footer .contact {
    padding: 2rem;
  }
  footer .contact ion-icon {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
}
footer .policy {
  margin-top: 2rem;
  color: white;
  font-size: 1rem;
}

/*# sourceMappingURL=footer.css.map */
