* {
  margin: 0;
}

header {
  position: relative;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 3;
  top: 0;
  margin: 0.5rem 5%;
}
.top-banner img {
  width: 80px;
  height: 80px;
}
.top-banner .nav {
  display: flex;
  list-style: none;
}
.top-banner .nav li {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.top-banner .nav li .link {
  text-decoration: none;
  color: black;
}
.top-banner .nav li .link ion-icon {
  color: black;
  font-size: 2rem;
}
.top-banner .nav li .link:hover ion-icon {
  color: #f47a50;
}

.poster {
  width: 90%;
  margin: 0 5%;
  background-image: url("./../assets/cover.jpg");
  background-size: auto;
  text-align: center;
  height: 25vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.poster h3 {
  font-size: 3.5rem;
}
.poster p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media only screen and (max-width: 500px) {
  .poster h3 {
    font-size: 2.5rem;
  }
  .poster p {
    font-size: 1rem;
  }
}

.category {
  width: 90%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dadada;
  margin: 0rem 5% 0 5%;
}
.category ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.category ul li {
  padding: 1rem 2rem 1rem 0rem;
  font-size: 1rem;
  font-weight: 400;
}
.category ul li a {
  text-decoration: none;
  color: black;
}
.category .tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.category .tool .light-mode {
  position: relative;
  padding: 1rem 2rem 1rem 0;
  color: gray;
}
.category .tool .light-mode ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.category .tool .search-bar .search-icon {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #767676;
  border-radius: 20px;
  padding: 7px 10px;
  font-size: 0.9rem;
  position: relative;
  color: white;
  background-color: gray;
}
.category .tool .search-bar .search-icon .search-content {
  position: absolute;
  border-radius: 30px;
  left: 0.2px;
  top: 0px;
  z-index: 2;
}
.category .tool .search-bar .search-icon .search-content input {
  background-color: white;
  max-height: 29px;
  padding: 6.5px 10px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 30px;
}

.selection {
  width: 90%;
  margin: 1rem 5%;
}
.selection h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: bold;
  background: -webkit-linear-gradient(#f1582b, #fbaf43);
  -webkit-text-fill-color: transparent;
}
.selection .select-container {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid gray;
  border-right: none;
  background-color: #fafafa;
}
.selection .select-filter {
  display: flex;
  flex-grow: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  flex-direction: column;
  border-right: 1px solid gray;
  align-items: flex-start;
}
.selection .select-filter p {
  font-weight: bold;
}
.selection .select-filter select {
  margin: 1rem 0;
  width: 150px;
  border: none;
  background-color: #fafafa;
}
.selection .select-filter select:active {
  border: 2px solid aqua;
}

.search {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: flex-end;
}
.search button {
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(#f1582b, #fbaf43);
}
.search button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=header.css.map */
