.login-content {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.login-content .sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.login-content .sign-in h2 {
  letter-spacing: 2px;
}
.login-content .sign-in form .email {
  margin-top: 2rem;
}
.login-content .sign-in form .email .label {
  display: flex;
}
.login-content .sign-in form .email .label h5 {
  letter-spacing: 1px;
}
.login-content .sign-in form .email .label em {
  margin-left: 2px;
  color: red;
}
.login-content .sign-in form .email input {
  padding: 1rem 12rem 1rem 1rem;
  border: 1px solid #b3b3b3;
  font-size: 1.3em;
  border-radius: 0.2rem;
}
.login-content .sign-in form .password {
  margin-top: 2rem;
}
.login-content .sign-in form .password .label {
  display: flex;
}
.login-content .sign-in form .password .label h5 {
  letter-spacing: 1px;
}
.login-content .sign-in form .password .label em {
  margin-left: 2px;
  color: red;
}
.login-content .sign-in form .password input {
  padding: 1rem 12rem 1rem 1rem;
  border: 1px solid #b3b3b3;
  font-size: 1.3em;
  border-radius: 0.2rem;
}
.login-content .sign-in form .remember-me {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.login-content .sign-in form .remember-me h5 {
  margin-left: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.login-content .sign-in form .sign-in-btn {
  margin-top: 2rem;
  padding: 1.5rem 0;
  width: 100%;
  background: #f47a50;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 4px;
}
.login-content .sign-in form .forget-password {
  margin-top: 2rem;
}
.login-content .sign-in form .forget-password a {
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.login-content .sign-in form .forget-password .underline {
  width: 10rem;
  height: 1px;
  background: #c4c4c4;
}

/*# sourceMappingURL=login.css.map */
