@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.respond-loading {
  display: flex;
  justify-content: center;
}
.respond-loading #loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-modal {
  margin: 2rem 5% 5rem 5%;
  width: 90%;
  height: 30%;
  display: flex;
  align-items: stretch;
}
.category-modal .info-box {
  flex: 1;
  display: flex;
}
.category-modal .info-box .info {
  width: 20vw;
  padding: 1.5rem;
  border: 2px solid #f47a50;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-modal .info-box .info .info-text h1 {
  font-size: 2rem;
  color: #f47a50;
  font-weight: bold;
}
.category-modal .info-box .info .info-text .info-desc {
  padding: 10px 0;
  font-weight: 300;
}
.category-modal .info-box .info .discover-btn {
  width: 7rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #f47a50;
  background-color: white;
  color: #f47a50;
  outline: none;
  transition: all 0.2s ease;
}
.category-modal .info-box .info .discover-btn p {
  font-size: 16px;
  font-weight: 300;
}
.category-modal .info-box .info .discover-btn:hover {
  background-color: #f47a50;
  color: white;
}
.category-modal .event-container {
  flex: 3;
}
.category-modal .event-container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-modal .event-container .title h3 {
  font-weight: 600;
  font-size: 1rem;
}
.category-modal .event-container .title .show-more {
  display: flex;
  align-items: center;
}
.category-modal .event-container .title .show-more a {
  color: black;
  text-decoration: none;
}
.category-modal .event-container .title .show-more ion-icon {
  margin-top: 1px;
  margin-left: 5px;
}
.category-modal .event-container .title .show-more:hover a {
  color: #525252;
}
.category-modal .event-container .event-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.category-modal .event-container .event-content .event-card {
  margin-top: 1rem;
  width: 22vw;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-modal .event-container .event-content .event-card .event-img {
  position: relative;
}
.category-modal .event-container .event-content .event-card .event-img .img {
  min-height: 200px;
  background-size: 120%;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.category-modal .event-container .event-content .event-card .event-img .add-btn {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
}
.category-modal .event-container .event-content .event-card .event-img:hover .img {
  background-size: 140%;
  filter: brightness(50%);
  cursor: pointer;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn {
  width: 40px;
  height: 40px;
  display: block;
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn ion-icon {
  color: white;
  font-size: 1.5rem;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn:hover {
  border-color: #dadada;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn:hover ion-icon {
  color: #dadada;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn:active {
  border-color: tomato;
}
.category-modal .event-container .event-content .event-card .event-img:hover .add-btn:active ion-icon {
  color: tomato;
}
.category-modal .event-container .event-content .event-card .event-desc {
  min-height: 165px;
  box-sizing: border-box;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-modal .event-container .event-content .event-card .event-desc h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details p {
  font-size: 14px;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details ion-icon {
  margin-right: 5px;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details .event-location {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 300;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details .event-bottom {
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details .event-bottom .event-date {
  display: flex;
  font-weight: 300;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details .event-bottom .category-list {
  display: flex;
}
.category-modal .event-container .event-content .event-card .event-desc .event-details .event-bottom .category-list .event-category {
  margin-left: 5px;
  padding: 0.3rem 1rem;
  font-size: 12px;
  color: white;
  background: #f47a50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.respond-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .category-modal {
    display: flex;
    flex-direction: column;
    margin: 2rem 5%;
  }
  .category-modal .info-box {
    width: 100%;
  }
  .category-modal .info-box .info {
    width: 100%;
    align-items: center;
  }
  .category-modal .info-box .info .info-text h1 {
    font-size: 1rem;
    text-align: center;
  }
  .category-modal .event-container .title {
    margin-top: 1rem;
  }
  .category-modal .event-container .event-content {
    width: 100%;
    display: flex;
  }
  .category-modal .event-container .event-content .event-card {
    display: flex;
    width: 30%;
    margin-bottom: 1rem;
  }
  .category-modal .event-container .event-content .event-card img {
    width: 100%;
  }
  .category-modal .event-container .event-content .event-card .event-desc {
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .category-modal .event-container .event-content .event-card .event-desc h3 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .category-modal {
    margin: 2rem 5%;
  }
  .category-modal .event-container .title {
    margin-top: 3rem;
  }
  .category-modal .event-container .event-content .event-card {
    display: flex;
    width: 42vw;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .category-modal {
    margin: 2rem 5%;
  }
  .category-modal .event-container .event-content .event-card {
    display: flex;
    width: 100vw;
    margin-bottom: 1rem;
  }
  .category-modal .event-container .event-content .event-card .img {
    min-height: 250px;
  }
}

/*# sourceMappingURL=modal.css.map */
