#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showmore-container {
  margin: 2rem 5%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.showmore-container .left-container {
  flex: 1;
  padding-right: 20px;
}
.showmore-container .left-container .filter {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 2rem 1.5rem;
}
.showmore-container .left-container .filter h4 {
  color: #f47a50;
}
.showmore-container .left-container .filter .breakline {
  margin-top: 1rem;
  border-bottom: 1px solid #dadada;
}
.showmore-container .right-container {
  flex: 4;
  display: flex;
  justify-content: center;
  border-left: 2px solid #dadada;
}
.showmore-container .right-container .event-container {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.showmore-container .right-container .event-container .event-card {
  margin: 5px;
  width: 22vw;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showmore-container .right-container .event-container .event-card .img {
  min-height: 200px;
  background-size: 120%;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.showmore-container .right-container .event-container .event-card .img:hover {
  background-size: 140%;
  cursor: pointer;
}
.showmore-container .right-container .event-container .event-card .event-desc {
  min-height: 165px;
  box-sizing: border-box;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showmore-container .right-container .event-container .event-card .event-desc h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details p {
  font-size: 14px;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details ion-icon {
  margin-right: 5px;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details .event-location {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 300;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details .event-bottom {
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details .event-bottom .event-date {
  display: flex;
  font-weight: 300;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details .event-bottom .category-list {
  display: flex;
}
.showmore-container .right-container .event-container .event-card .event-desc .event-details .event-bottom .category-list .event-category {
  margin-left: 5px;
  padding: 0.3rem 1rem;
  font-size: 12px;
  color: white;
  background: #f47a50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=showmore.css.map */
