.container {
  width: 90%;
  margin: 2rem 5% 2rem 5%;
  display: flex;
  flex-direction: column;
}
.container .profile-container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.container .profile-container .profile {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
}
.container .profile-container .user-info {
  display: flex;
  width: 50%;
  height: 80%;
}
.container .profile-container .user-info .brief-info {
  display: flex;
  flex-direction: column;
  color: gray;
  width: 50%;
}
.container .profile-container .user-info .brief-info h2 {
  font-size: 2rem;
}
.container .profile-container .user-info .brief-info .bio {
  height: auto;
}
.container .profile-container .user-info .brief-info .bio .email {
  display: flex;
  align-items: center;
}
.container .profile-container .user-info .brief-info .bio .email ion-icon {
  font-size: 1.5rem;
}
.container .profile-container .user-info .brief-info .bio p {
  font-style: italic;
  color: gray;
}
.container .profile-container .user-info .brief-info .bio .workplace {
  display: flex;
  align-items: center;
}
.container .profile-container .user-info .brief-info .bio .workplace ion-icon {
  font-size: 1.5rem;
}
.container .profile-container .user-info .brief-info .bio ion-icon {
  font-size: 2rem;
}
.container .profile-container .user-info .brief-info .bio .devide-line {
  height: 60%;
  width: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #f47a50;
}
.container .profile-container .user-info .brief-info .space {
  background-color: orange;
}
.container .profile-container .line {
  height: 80%;
  width: 1px;
  background-color: gray;
}
.container .profile-container .user-details {
  width: 30%;
  height: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .profile-container .user-details .about-me {
  display: flex;
  justify-content: space-between;
}
.container .profile-container .user-details p {
  margin-bottom: 1rem;
}
.container .option {
  display: flex;
}
.container .option h3 {
  margin-top: 2rem;
  margin-right: 1rem;
}
.container .line {
  width: 70%;
  height: 1px;
  background-color: #f47a50;
}

/*# sourceMappingURL=userInfo.css.map */
