@import ".//config.scss";

.error-container {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  height: 100vh;
  .error-text {
    width: 50%;
    padding-right: 10%;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    .error-wrapper {
      height: 100%;
      padding: 20px 0;
      .glitch-error {
        color: $primary-color;

        background-color: $primary-color;
      }
      h4 {
        margin-left: 2rem;
        margin-top: -5rem;
        font-size: 2rem;
        line-height: 40px;
        text-transform: uppercase;
        color: white;
      }
      p {
        margin-left: 2rem;
        padding-top: 1rem;
        font-size: 20px;
        color: #f4f4f4;
        line-height: 35px;
        text-align: left;
      }
      .goback-btn {
        margin-left: 2rem;
        width: 10rem;
        height: 4rem;
        border-radius: 20px;
        margin-top: 2rem;
        border: 1px solid white;
        background-color: white;
        color: $primary-color;
        outline: none;
        transition: all 0.2s ease;
        font-size: 24px;
        font-weight: 500;
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
  .error-animation {
    padding-right: 5%;
    width: auto;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}% 0);
    }
  }
}
