@import "./config.scss";

.about-container {
  width: 90%;
  margin: 0 5%;
  .about-header {
    display: flex;
    padding: 80px 10% 50px 10%;
    .left-image {
      width: 60%;
      h5 {
        color: $primary-color;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        padding-bottom: 80px;
      }
      h2 {
        font-family: "Playfair Display", Sans-serif;
        font-size: 70px;
        font-weight: bold;
        line-height: 80px;
        letter-spacing: 0.3px;
        padding-bottom: 50px;
      }
      .breakline {
        width: 30%;
        height: 5px;
        background-color: $primary-color;
        margin: 1rem 1rem 2rem 0;
      }
      .contact-team {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        color: $primary-color;
        ion-icon {
          margin-right: 2rem;
        }
      }
    }
    .about-image {
      width: 40%;
      margin-top: 3.5rem;
    }
  }
  .about {
    display: flex;
    margin: 5% 0;
    flex-direction: column;
    align-items: center;
    .about-heading-title {
      h5 {
        color: $secondary-color;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
      }
      h2 {
        font-family: "Playfair Display", Sans-serif;
        text-align: center;
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 6rem;
        margin-bottom: 2.5rem;
        color: $primary-color;
      }
      .short-des {
        margin: 0 15%;
        padding: 1rem 0 1rem 0;
        color: rgba(18, 18, 18, 0.67);
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1px;
      }
    }
    .about-team {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      margin: 5% 5% 0 5%;
      padding: 0 5%;
      .team-member {
        height: 550px;
        width: 100%;
        //   margin: 5%;
        padding: 0 10px;
        .team-wrap {
          // padding: 0 5%;
          width: 100%;

          height: 80%;
          .bg-image {
            height: 90%;
            width: 100%;
            min-height: 450px;
            display: flex;
          }
          .about-left {
            width: 100%;
            height: 100%;

            .about-body {
              width: 100%;
              height: 100%;
              .body-top {
                width: 100%;
                height: 70%;
              }
              .body {
                height: 35%;
                width: 100%;
                background-color: #fcfcfc;
                border-radius: 0.5rem 0.5rem 0.5rem 0;
                display: flex;
                .style {
                  margin: 10% 0 10% 0;
                  width: 30px;
                  height: 5px;
                  background-color: green;
                }
                .about-info {
                  width: 100%;
                  padding-top: 1.5rem;
                  padding-left: 1rem;
                  .name {
                    height: 50%;
                    margin-bottom: 1rem;

                    display: flex;

                    h2 {
                      font-size: 2rem;
                      font-weight: bold;
                    }
                  }
                  .role {
                    height: 50%;
                    h2 {
                      font-size: 1.5rem;
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
          .about-right {
            width: 20%;
            height: 100%;
          }
        }
      }
      .team-member:hover {
        transform: scale(1.1);
        opacity: 70%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .about-container {
    .about-header {
      .left-image {
        width: 100%;
        h2 {
          font-size: 50px;
        }
      }
      .about-image {
        display: none;
      }
    }
    .about {
      .about-team {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
