table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}
.table-tool {
  padding: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.4;
  flex-direction: column;
}
