@import "./config.scss";

.category-modal {
    margin: 2rem 5% 5rem 5%;
    width: 90%;
    height: 50%;
    display: flex;
    align-items: stretch;
}  

.testing {
  margin-top: 20%;
}

.event-container {
    .title {
      display: none;
    }

    .event-content {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
  
        .event-card {
          width: 32%;
          background: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

          img {
            min-height: 250px;
            object-fit: cover;
            max-width: 100%;
          }
  
          .event-desc {
            box-sizing: border-box;
            padding: 1rem 1rem;
  
            h3 {
              font-size: 1.5rem;
              font-weight: bold;
              margin-bottom: 1rem;
            }
  
            p {
              font-size: 14px;
            }
  
            ion-icon {
              margin-right: 5px;
            }
  
            .event-location {
              display: flex;
              align-items: center;
              margin-top: 10px;
              font-weight: 300;
            }
  
            .event-bottom {
              padding-bottom: 10px;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              .event-date {
                display: flex;
                font-weight: 300;
              }
  
              .category-list {
                display: flex;
  
                .event-category {
                  margin-left: 5px;
                  padding: 0.3rem 1rem;
                  font-size: 12px;
                  color: white;
                  background: $primary-color;
                  border-radius: 20px;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
  }


