@import 'config.scss';

.category-selector {
    margin-top: 1rem;

    .categories {
        margin-top: 1.5rem;

        .category-item {
            margin-top: .5rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
                .category-title {
                    color: $primary-color;
                }
            }
        }
    }
}

// @media only screen and (max-width: 1200px) {
//     .category-selector {
//         margin-top: -1rem;
//         flex: 4;
        
//         .categories {
//             display: flex;
//             flex-wrap: wrap;

//             .category-item {
//                 // margin-top: rem;
//                 margin-right: 1rem;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 500px) {
//     .category-selector {
//         flex: 1;
//     }
// }