// #loadingCD {
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }

.loadingBanner {
  margin: 2rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cd-banner {
  width: 90%;
  margin: 2rem 5% 4rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(to right, #ebbd7e, #f47a50);
  display: flex;
  color: white;
  box-sizing: border-box;

  .info {
    flex: 2;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .event-title {
      margin: 1rem 0;

      h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }

    .event-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      p {
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: lighter;
        font-style: italic;
      }
    }
  }

  .details-count {
    flex: 3;
    display: flex;

    .countdown {
      flex: 3;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
          font-size: 3rem;
          font-weight: 300;
        }

        h5 {
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cd-banner {
    display: flex;
    flex-direction: column;

    .info {
      text-align: center;
      margin-bottom: 1rem;
    }

    .details-count {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;

      .event-details {
        width: 100%;
        padding: 0;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .countdown {
        flex: 3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .circle {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 3px solid white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem;

          h4 {
            font-size: 3rem;
            font-weight: 300;
          }

          h5 {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
