@import ".//config.scss";

.detail-container {
  margin: 2rem 5% 5rem 5%;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;

  .detail-header {
    display: flex;

    .event-image {
      width: 80%;
      height: 50vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .event-info {
      width: 30%;
      margin-left: 3rem;
      background-color: white;
      box-sizing: border-box;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .event-category {
        margin-top: 1rem;
        height: 12%;
        width: 90%;
        background-color: $primary-color;
        color: white;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }

      .event-information {
        margin: 0 2rem;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h3 {
          font-size: 1.5rem;
          margin-top: 2rem;
        }
        p {
          margin-bottom: 0;
          font-size: 1.2rem;

          ion-icon {
            font-size: 1.2rem;
            color: $primary-color;
            margin-right: 1rem;
          }
        }
      }
      .line {
        margin: 1.2rem 0;
        height: 1px;
        width: 75%;
        background-color: $primary-color;
      }
      .event-footer {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        ion-icon {
          // zoom: 3;
          font-size: 2.2rem;
          color: $facebook-color;
        }
        .button {
          padding: 0.5rem 0.8rem;
          border-radius: 20px;
          border: 1px solid $primary-color;
          background-color: white;
          color: $primary-color;
          outline: none;
          transition: all 0.2s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 0.8rem;
            font-weight: 300;
            margin-bottom: 0;
          }
          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
  h2 {
    margin-top: 1.5rem;
    color: $primary-color;
    font-size: 1.5rem;
  }
  .detail-body {
    display: flex;
    margin-top: 1rem;
    .event-description {
      width: 70%;
      .des-line {
        height: 1px;
        background-color: $primary-color;
      }
      p {
        margin-top: 0.5rem;
      }
    }

    .detail-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-left: 3rem;

      .cal-line {
        height: 1px;
        width: 100%;
        background-color: $primary-color;
        margin-bottom: 1rem;
      }

      .calendar {
        width: 100%;
      }

      .related-event {
        margin-top: 1rem;
        width: 100%;

        .line {
          height: 1px;
          background-color: $primary-color;
        }

        .event-card {
          margin-top: 1rem;
          width: 26vw;
          background: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .img {
            min-height: 200px;
            background-size: 120%;
            background-position: center;
            transition: 0.3s ease-in-out;

            &:hover {
              background-size: 140%;
              cursor: pointer;
            }
          }

          .event-desc {
            min-height: 165px;
            box-sizing: border-box;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
              font-size: 1.1rem;
              font-weight: 500;
              margin-bottom: 1rem;
            }

            .event-details {
              p {
                font-size: 14px;
              }

              ion-icon {
                margin-right: 5px;
              }

              .event-location {
                display: flex;
                align-items: center;
                text-align: center;
                font-weight: 300;

                p {
                  margin-bottom: 0;
                }
              }

              .event-bottom {
                padding-bottom: 10px;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .event-date {
                  display: flex;
                  font-weight: 300;

                  p {
                    margin-bottom: 0;
                  }
                }

                .category-list {
                  display: flex;
                  margin-left: 5px;
                  padding: 0.3rem 1rem;
                  font-size: 12px;
                  color: white;
                  background: $primary-color;
                  border-radius: 20px;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
.no-relate {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: -2rem;
    font-style: italic;
    color: gray;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 960px) {
  .detail-container {
    .detail-header {
      display: flex;
      flex-direction: column;

      .event-image {
        width: 100%;
      }

      .event-info {
        width: 100%;
        margin-left: 0;

        .event-information {
          h3 {
            font-size: 1.5rem;
          }

          .date-locate {
            p {
              font-size: 1rem;
              margin-top: 0.5rem;
            }
          }
        }

        .event-footer {
          ion-icon {
            zoom: 1.5;
          }
        }
      }
    }
    .detail-body {
      display: flex;
      flex-direction: column;

      .event-description {
        width: 100%;
      }

      .detail-right {
        width: 100%;
        padding-top: 2rem;
        margin-left: 0;

        .related-event {
          display: flex;
        }
      }
    }
  }
}
