@import 'config.scss';

.sort {
    .breakline {
        margin-top: 1rem;
        border-bottom: 1px solid $light-grey;
    }

    .sort-dropdown {
        margin-top: 1.5rem;
        cursor: pointer;
    
        .dropdown {
            width: 100%;
            padding: 0.7rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $dark-grey;
    
            .dropdown-btn {
                display: flex;
                align-items: flex-start;
                text-transform: capitalize;
                background: none;
                border: none;
                outline: none;
                font-size: 0.9rem;
            }
            
            ion-icon {
                font-size: 0.8rem;
            }
        }
        
        ul {
            border: 1px solid $dark-grey;
            max-height: 0;
            overflow: hidden;
            border-top: none;
            list-style: none;
            transition: all .2s ease;
    
            li {
                padding: 1rem;
                background: white;
                color: $dark-grey;
                font-size: 0.8rem;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
    
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .sort {
        flex: 1;
        margin-top: -1rem;
        
        .breakline {
            border-bottom: 0px;
        }

        .sort-dropdown {
            margin-top: 2.5rem;
        }
    }
}

// @media only screen and (max-width: 500px) {
//     .sort {
//         flex: 1;
//         // width: 30vw;

//         .breakline {
//             border-bottom: 0px;
//         }
//     }
// }