@import "./config.scss";

footer {
  padding: 0 6em;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;

    .desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;

      img {
        width: 150px;
      }

      p {
        margin-top: 1.2rem;
        color: white;
        font-size: 15px;
        font-weight: lighter;
        line-height: 1.5;
      }
    }

    .links {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
      color: white;

      .links-row {
        margin-top: 2rem;
        display: flex;

        ul {
          padding: 0;

          li {
            padding-bottom: 1rem;
            display: flex;
            align-items: center;
            margin: 0;
            list-style-type: none;

            ion-icon {
              color: white;
            }

            a {
              font-size: 1rem;
              padding-left: 5px;
              color: white;
              text-decoration: none;

              &:hover {
                color: rgb(228, 228, 228);
              }
            }
          }
        }
      }
    }

    .contact {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      color: white;
  
      .contact-info {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
      }
  
      a {
        text-decoration: none;
        color: white;
      }
  
      .call {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
  
        ion-icon {
          font-size: 1.25rem;
          margin-right: 1rem;
        }
      }
  
      .mail {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
  
        ion-icon {
          font-size: 1.25rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .policy {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    .footer-container {
      padding: 0 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    .footer-container {
      padding: 2rem;
      flex-direction: column;

      .links {
        padding: 0 2rem;
        align-items: start;
      }

      .contact {
        padding: 2rem;
  
        ion-icon {
          font-size: 1.25rem;
          margin-right: 1rem;
        }
      }
    }
  }
}