@import "config.scss";

* {
  margin: 0;
}

header {
  position: relative;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 3;
  top: 0;
  margin: 0.5rem 5% 0 5%;

  img {
    width: 80px;
    height: 80px;
    display: block;
  }
  
  .nav {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      padding: 1rem 1rem 0 1rem;
      font-weight: bold;
      display: flex;
      justify-content: stretch;
      // font-size: 1.5rem;

      ion-icon {
        font-size: 1.5rem;
      }

      .favorite {
        margin-top: .3rem;
        position: relative;
        width: 35px;
        height: 35px;

        .number-indicator {
          position: absolute;
          top: -2px;
          right: 2px;
          width: 16px;
          height: 16px;
          border-radius: 20px;
          background-color: tomato;
          display: flex;
          justify-content: center;
          align-items: center;
          
          p {
            margin-bottom: 0;
            font-size: 0.7rem;
            font-weight: 400;
            color: white;
          }
        }
      }

      ion-icon {
        color: rgb(82, 82, 82);
      }

      &:hover {
        ion-icon {
          color: $primary-color;
        }
      }

      .logged-in {
        position: relative;
        transition-delay: 2s;

        .drop-item {
          font-size: 10px;
        }
      }

      .logged-in > ul {
        display: none;
        position: absolute;
        top: 30px;
        left: -10;
        background-color: #fff;
        box-shadow: 0 1px 2px #f3f3f3;
        border: 1px solid #eee;
        margin: 0;
        list-style: none;
        padding: 10px 0;
        min-width: 110px;

        li {
          height: auto;
          display: flex;
          align-items: center;
          margin-top: 0;
          padding: 0;
          font-size: 0.7rem;

          ion-icon {
            font-size: 1rem;
            margin-right: 10px;
          }

          a {
            color: rgb(82, 82, 82);
            text-decoration: none;
            list-style: none;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            padding: 6px 20px 6px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .profile:hover {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.poster {
  width: 90%;
  margin: 0 5%;
  // background-image: linear-gradient(rgb(129, 197, 193), rgb(41, 169, 202));
  background-image: url("./../assets/cover.jpg");
  background-size: auto;
  text-align: center;
  height: 25vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  h3 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  @media only screen and (max-width: 500px) {
    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.category {
  width: 90%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(218, 218, 218);
  margin: 0rem 5% 0 5%;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1rem 2rem 1rem 0rem;
      font-size: 1rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    .light-mode {
      position: relative;
      padding: 1rem 2rem 1rem 0;
      color: gray;
      ion-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .search-bar {
      .search-icon {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        border: 1px solid rgb(118, 118, 118);
        border-radius: 20px;
        padding: 7px 10px;
        font-size: 0.9rem;
        position: relative;
        color: white;
        background-color: gray;

        .search-content {
          position: absolute;

          border-radius: 30px;
          left: 0.2px;
          top: 0px;
          z-index: 2;
          input {
            background-color: rgb(255, 255, 255);
            max-height: 29px;
            padding: 6.5px 10px;
            outline: none;
            border: none;
            width: 100%;
            border-radius: 30px;
          }
        }
      }
    }
  }
}

.selection {
  width: 90%;
  margin: 1rem 5%;
  h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
    background: -webkit-linear-gradient(#f1582b, #fbaf43);
    // -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .select-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    border: 1px solid gray;
    border-right: none;
    background-color: rgb(250, 250, 250);
  }

  .select-filter {
    display: flex;
    flex-grow: 1;
    padding-left: 1rem;
    padding-top: 1rem;
    flex-direction: column;
    border-right: 1px solid gray;
    align-items: flex-start;
    p {
      font-weight: bold;
    }
    select {
      margin: 1rem 0;
      width: 150px;
      border: none;
      background-color: rgb(250, 250, 250);

      // option {
      // }
      &:active {
        border: 2px solid aqua;
      }
    }
  }
}

.search {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: flex-end;
  button {
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: linear-gradient(#f1582b, #fbaf43);
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 450px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}
