@import "./config.scss";

.login-content {
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  .sign-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      letter-spacing: 2px;
    }

    form {
      .email {
        margin-top: 2rem;
        .label {
          display: flex;
          align-items: center;

          h5 {
            letter-spacing: 1px;
            font-size: 1rem;
          }

          em {
            margin-left: 2px;
            color: red;
          }
        }

        input {
          padding: 0rem 15rem 0rem 1rem;
          // height: 20px;
          // border: 1px solid rgb(179, 179, 179);
          font-size: 1rem;
          border-width: 0 0 1px;
          border-radius: 0.2rem;
          background: transparent;
        }
      }

      .password {
        margin-top: 2rem;

        .label {
          display: flex;
          align-items: center;

          h5 {
            letter-spacing: 1px;
            font-size: 1rem;
            em {
              margin-left: 2px;
              color: red;
            }
          }
        }

        input {
          padding: 0rem 15rem 0rem 1rem;
          // height: 20px;
          // border: 1px solid rgb(179, 179, 179);
          font-size: 1rem;
          border-width: 0 0 1px;
          border-radius: 0.2rem;
          background: transparent;
        }
      }

      .sign-in-btn {
        margin-top: 3rem;
        padding: 0.5rem 0;
        width: 60%;
        background: $primary-color;
        border: none;
        border-radius: 0.5rem;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 4px;
        &:hover {
          background-color: $secondary-color;
        }
      }

      .forget-password {
        margin-top: 2rem;

        a {
          color: black;
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 1px;
          text-decoration: none;
        }

        .underline {
          width: 10rem;
          height: 1px;
          background: #c4c4c4;
        }
      }
    }
  }
}

.error-signup {
  p {
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.5rem;
    color: gray;
  }
  em {
    margin-left: 2px;
    color: red;
  }
}
