@import "./config.scss";
@import "../App.scss";

.respond-loading {
  display: flex;
  justify-content: center;
  #loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.category-modal {
  margin: 2rem 5% 5rem 5%;
  width: 90%;
  height: 30%;
  display: flex;
  align-items: stretch;

  .info-box {
    flex: 1;
    display: flex;

    .info {
      width: 20vw;
      padding: 1.5rem;
      border: 2px solid $primary-color;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info-text {
        h1 {
          font-size: 2rem;
          color: $primary-color;
          font-weight: bold;
        }

        .info-desc {
          padding: 10px 0;
          font-weight: 300;
        }
      }

      .discover-btn {
        width: 7rem;
        height: 2.5rem;
        border-radius: 20px;
        border: 1px solid $primary-color;
        background-color: white;
        color: $primary-color;
        outline: none;
        transition: all 0.2s ease;

        p {
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 0;
        }

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }

  .event-container {
    flex: 3;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: 600;
        font-size: 1rem;
      }

      .show-more {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        outline: none;

        p {
          color: black;
          text-decoration: none;
          margin-bottom: 0;
        }

        ion-icon {
          margin-top: 1px;
          margin-left: 5px;
        }

        &:hover {
          p {
            color: rgb(82, 82, 82);
          }
        }
      }
    }

    .event-content {
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .event-card {
        margin-top: 1rem;
        width: 22vw;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .event-img {
          position: relative;

          .img {
            min-height: 200px;
            background-size: 120%;
            background-position: center;
            transition: 0.3s ease-in-out;
          }
          
          .add-btn {
            display: none;
            position: absolute;
            top: 38%;
            left: 42%;
          }

          &:hover {
            .img {
              background-size: 140%;
              filter: brightness(50%);
              cursor: pointer;
            }

            .add-btn {
              display: block;
              background: none;
              border: none;
              outline: none;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;

              ion-icon {
                color: white;
                font-size: 3.5rem;
              }

              &:hover {
                border-color: $light-grey;

                ion-icon {
                  color: $light-grey;
                }
              }

              &:active {
                border-color: tomato;

                ion-icon {
                  color: tomato;
                }
              }
            }
          }
        }

        .event-desc {
          min-height: 165px;
          box-sizing: border-box;
          padding: 1rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          .event-details {

            p {
              font-size: 14px;
            }

            ion-icon {
              margin-right: 5px;
            }

            .event-location {
              display: flex;
              align-items: center;
              text-align: center;
              font-weight: 300;

              p {
                margin-bottom: 0;
              }
            }

            .event-bottom {
              padding-bottom: 10px;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .event-date {
                display: flex;
                font-weight: 300;

                p {
                  margin-bottom: 0;
                }
              }

              .category-list {
                display: flex;

                .event-category {
                  margin-left: 5px;
                  padding: 0.3rem 1rem;
                  font-size: 12px;
                  color: white;
                  background: $primary-color;
                  border-radius: 20px;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.respond-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .category-modal {
    display: flex;
    flex-direction: column;
    margin: 2rem 5%;

    .info-box {
      width: 100%;

      .info {
        width: 100%;
        align-items: center;

        .info-text {
          h1 {
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }

    .event-container {
      .title {
        margin-top: 1rem;
      }

      .event-content {
        width: 100%;
        display: flex;

        .event-card {
          display: flex;
          width: 30%;
          margin-bottom: 1rem;

          img {
            width: 100%;
          }

          .event-desc {
            padding: 5%;
            display: flex;
            flex-direction: column;
            flex: 1;

            h3 {
              // font-size: (5/100 * 100vw);
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .category-modal {
    margin: 2rem 5%;

    .event-container {
      .title {
        margin-top: 3rem;
      }

      .event-content {
        .event-card {
          display: flex;
          width: 42vw;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .category-modal {
    margin: 2rem 5%;

    .event-container {
      .event-content {
        .event-card {
          display: flex;
          width: 100vw;
          margin-bottom: 1rem;

          .img {
            min-height: 250px;
          }
        }
      }
    }
  }
}
