@import 'config.scss';


#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.showmore-container {
    padding: 2rem 5%;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    height: 100%;

    h4 {
      color: $primary-color;
      font-size: 1.2rem;
    }

    .left-container {
      flex: 1;
      padding-right: 20px;

      .filter {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 2rem 1.5rem;
      }
    }

    .right-container {
      flex: 4;
      display: flex;
      justify-content: center;
      border-left: 2px solid $light-grey;

      .event-container {
        margin-left: 0.8rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;

        .respond-loading {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .event-card {
          margin: 5px;
          width: 22vw;
          background: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
  
          .event-img {
            position: relative;
  
            .img {
              min-height: 200px;
              background-size: 120%;
              background-position: center;
              transition: 0.3s ease-in-out;
            }
            
            .add-btn {
              display: none;
              position: absolute;
              top: 38%;
              left: 42%;
            }
  
            &:hover {
              .img {
                background-size: 140%;
                filter: brightness(50%);
                cursor: pointer;
              }
  
              .add-btn {
                display: block;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
  
                ion-icon {
                  color: white;
                  font-size: 3.5rem;
                }
  
                &:hover {
                  border-color: $light-grey;
  
                  ion-icon {
                    color: $light-grey;
                  }
                }
  
                &:active {
                  border-color: tomato;
  
                  ion-icon {
                    color: tomato;
                  }
                }
              }
            }
          }
  
          .event-desc {
            min-height: 165px;
            box-sizing: border-box;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
            h3 {
              font-size: 1.1rem;
              font-weight: 500;
              margin-bottom: 1rem;
            }
  
            .event-details {

              p {
                font-size: 14px;
              }
  
              ion-icon {
                margin-right: 5px;
              }
  
              .event-location {
                display: flex;
                align-items: center;
                text-align: center;
                font-weight: 300;

                p {
                  margin-bottom: 0;
                }
              }
  
              .event-bottom {
                padding-bottom: 10px;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
  
                .event-date {
                  display: flex;
                  font-weight: 300;

                  p {
                    margin-bottom: 0;
                  }
                }
  
                .category-list {
                  display: flex;
  
                  .event-category {
                    margin-left: 5px;
                    padding: 0.3rem 1rem;
                    font-size: 12px;
                    color: white;
                    background: $primary-color;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
}

// @media only screen and (max-width: 1200px) {
//   .showmore-container {
//     flex-direction: column;
//     padding: 2rem 4%;
    
//     .filter {
//       display: flex;
//       flex-direction: row-reverse;
//       width: 100%;
//       // background-color: teal;
//     }

//     .right-container {
//       margin-top: 1rem;
//       border-left: 0;
//       border-top: 2px solid $light-grey;

//       .event-container {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;

//         .event-card {
//           margin: 1rem 0 0 0;
//           width: 30vw;

//           .event-desc {
//             h3 {
//               font-size: 1.1rem;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .showmore-container {
//     .right-container {
//       .event-container {
//         justify-content: space-around;

//         .event-card {
//           width: 45vw;

//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 500px) {
//   .showmore-container {
//     .right-container {
//       .event-container {
//         justify-content: space-around;

//         .event-card {
//           margin: 1rem 0 0 0;
//           width: 90vw;
//         }
//       }
//     }
//   }
// }