@import "config.scss";

.user-container {
  width: 90%;
  margin: 2rem 5% 2rem 5%;
  display: flex;
  flex-direction: column;

  .profile-container {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    .profile {
      display: flex;
      justify-content: center;
      width: 20%;
      align-items: center;
    }
    .user-info {
      display: flex;
      width: 50%;
      height: 80%;

      .brief-info {
        display: flex;
        flex-direction: column;
        color: gray;
        width: 50%;
        h2 {
          font-size: 2rem;
        }
        .bio {
          height: auto;
          .email {
            display: flex;
            align-items: center;
            ion-icon {
              font-size: 1.5rem;
            }
            p {
              font-style: italic;
              color: gray;
              padding-bottom: 0;
            }
          }

          .workplace {
            display: flex;
            align-items: center;
            ion-icon {
              font-size: 1.5rem;
            }
            p {
            }
          }
          ion-icon {
            // color: $secondary-color;
            font-size: 2rem;
          }
          .devide-line {
            height: 60%;
            width: 1px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            background-color: $primary-color;
          }
        }
        .space {
          background-color: orange;
        }
      }
      // .media-contacts {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: space-around;
      //   width: 50%;
      //   .media {
      //     display: flex;
      //     ion-icon {
      //       margin-right: 1rem;
      //       color: $secondary-color;
      //       font-size: 2rem;
      //     }
      //   }
      // }
    }
    .line {
      height: 80%;
      width: 1px;
      background-color: gray;
    }
    .user-details {
      width: 30%;
      height: 80%;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about-me {
        display: flex;
        justify-content: space-between;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .card {
    border: 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.375rem;
    background-color: #fff;
    background-clip: border-box;
    .card-header {
      background-color: $primary-color;
      .btn-primary {
        background-color: $primary-color;
        border: 0;
        width: 100px;
      }
    }
    hr {
      border-top: 1px solid $primary-color;
    }
    .card .card-profile {
      padding-top: 1rem;

      width: auto;
      background-color: #fff;
      display: flex;
      .profile-img {
      }
    }
    .card-body {
      background-color: #fff;
      border: 0;
      form {
        align-items: stretch;
        input {
          border-width: 0 0 1px;
          border-color: $primary-color;
          background: transparent;
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    .btn-primary {
      background-color: $primary-color;
      border: 0;
      width: 100px;
    }
  }
}
