@import "./config.scss";

.wishlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

  .wishlist-header {
    text-align: center;
    margin-top: 2rem;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    border-bottom: 2px solid #999;
  }

  .wishlist-list {
    width: 90%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wishlist-events {
      // width: 100%;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      .nothing-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          font-size: 1.2rem;
          margin-bottom: 5rem;
        }
    
        .showmore-btn {
          width: 9rem;
          height: 2.5rem;
          border-radius: 20px;
          border: 1px solid $primary-color;
          background-color: white;
          color: $primary-color;
          outline: none;
          transition: all 0.2s ease;
    
          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      .event-card {
        margin-top: 1rem;
        margin-right: .4rem;
        width: 22vw;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .event-img {
          position: relative;

          .img {
            min-height: 200px;
            background-size: 120%;
            background-position: center;
            transition: 0.3s ease-in-out;
          }
          
          .add-btn {
            display: none;
            position: absolute;
            top: 40%;
            left: 45%;
          }

          &:hover {
            .img {
              background-size: 140%;
              filter: brightness(50%);
              cursor: pointer;
            }

            .add-btn {
              width: 40px;
              height: 40px;
              display: block;
              background: none;
              border: 1px solid white;
              border-radius: 30px;
              outline: none;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;

              ion-icon {
                color: white;
                font-size: 1.5rem;
              }

              &:hover {
                border-color: $light-grey;

                ion-icon {
                  color: $light-grey;
                }
              }

              &:active {
                border-color: tomato;

                ion-icon {
                  color: tomato;
                }
              }
            }
          }
        }

        .event-desc {
          min-height: 165px;
          box-sizing: border-box;
          padding: 1rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          .event-details {

            p {
              font-size: 14px;
            }

            ion-icon {
              margin-right: 5px;
            }

            .event-location {
              display: flex;
              align-items: center;
              text-align: center;
              font-weight: 300;

              p {
                margin-bottom: 0;
              }
            }

            .event-bottom {
              padding-bottom: 10px;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .event-date {
                display: flex;
                font-weight: 300;

                p {
                  margin-bottom: 0;
                }
              }

              .category-list {
                display: flex;

                .event-category {
                  margin-left: 5px;
                  padding: 0.3rem 1rem;
                  font-size: 12px;
                  color: white;
                  background: $primary-color;
                  border-radius: 20px;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
